body {
    margin: 0;
}

#app {
    display: grid;
    height: 100vh;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: 
    'header header'
    'nav content'
    'footer footer';
}

.header {
    grid-area: header;
    background-color: royalblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.footer {
    grid-area: footer;
    background-color: royalblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.content {
    grid-area: content;
}

#nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
}

.nav-link {
    padding: 10px;
    border-right: slategrey 2px solid;
    text-decoration: none; /* Remova a decoração de link padrão */
    color: #2c3e50; /* Cor do texto */
    display: block; /* Garanta que cada link ocupe toda a largura disponível */
    transition: background-color 0.2s; /* Adicione uma transição suave */
  }
  
  .nav-link:hover {
    background-color: #f0f0f0; /* Altere a cor de fundo ao passar o mouse */
  }